<div class="d-flex">

  <!-- SIDEBAR -->
  <app-sidebar></app-sidebar>
  <!-- END SIDEBAR -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>
    <hr/>

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur minus eos dolore. Assumenda, aliquam delectus officiis accusantium, velit necessitatibus expedita, alias facilis recusandae officia debitis reiciendis modi ullam. Esse, ex!
      </div>
    </div>
  </div>

</div>
